<h5>Criar/Editar aluno</h5>
<form>

    <div class="mb-3">
      <fieldset disabled>
        <label for="idAluno" class="form-label">ID:</label>
        <input type="text" id="idAluno" class="form-control" value={{aluno.id}} placeholder="">
      </fieldset>
      <label for="nomeAluno" class="form-label">Nome:</label>
      <input type="text" id="nomeAluno" class="form-control" value={{aluno.nome}} placeholder="Nome">
      <label for="emailAluno" class="form-label">Email:</label>
      <input type="text" id="emailAluno" class="form-control" value={{aluno.email}} placeholder="Email">

    </div>
</form>

