
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Rotas Angular</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active" routerLink="login">Login</a>
        <a class="nav-link" routerLinkActive="active" routerLink="cursos">Cursos</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['curso', idCurso.value]">Curso Angular</a>
      </div>
    </div>
  </div>
</nav>



<div class="container">
    <input type="text" #idCurso>
    <router-outlet></router-outlet>
</div>
